body {
  background: url("/assets/Night_sky.png") no-repeat center center;
  background-size: cover;
  font-family: $open-sans;
  color: $night-blue;
}

h1, h2, h3, h4, h5, h6 {
  color: $teal;
  font-family: $poiret-one;
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
  margin-bottom: 14px;
}

h2 {
  font-size: 34px;
  margin-bottom: 12px;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

a {
  color: blue;
}

p {
  padding-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  margin: 50px;
}

input {
  border: 1px solid #666;
  border-radius: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 6px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;

  td {
    text-align: center;
    padding: 5px 80px;
    border: 2px solid #bbb;
  }
}

.container {
  background-color: $white;
  padding: 30px;
}

.errors {
  margin-bottom: 10px;
  color: red;
}
