/* Header
************/

header {
  background-color: $teal;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
}

/* Logo
************/

.logo {
  padding: 18px 20px;
  width: 250px;
}

/* Menu
************/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu > a {
  color: #fff;
  font-family: "Poiret One", sans-serif;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 18px 20px;
}

.user-menu {
  position: relative;
  padding: 15px 0;
  cursor: pointer;

  .user-icon {
    width: 38px;
    margin-right: 20px;
    fill: #fff;
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 68px;
    left: -20px;
    background-color: $white;
    color: #333;

    li {
      padding: 5px 10px;
      border: 1px solid #666;
    }

    a {
      color: #333;
    }
  }
}

.user-menu:hover .dropdown {
  display: block;
}
