/* Header
************/

header {
  background-color: $teal;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 18px 20px;
}


/* Logo
************/

.logo {
  width: 250px;
}


/* User Menu
************/

.user-menu {
  position: relative;

  .user-icon {
    width: 38px;
    fill: #fff;
    cursor: pointer;
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 56px;
    left: -20px;
    background-color: $transparent-background;
    color: #333;

    li {
      padding: 5px 10px;
      border: 1px solid #666;
    }

    a {
      color: #333;
    }
  }
  .dropdown.active {
    display: block;
  }
}
