.race-btn {
  color: white;
  font-family: $poiret-one;
  text-transform: uppercase;
  font-size: 38px;
  padding: 80px 132px 76px 88px;
  background: url('/assets/spaceship_large.png') no-repeat;
  background-size: 300px;
  margin: 50px 0 80px;
}
.race-btn:hover {
  background: url('/assets/spaceship_large_red.png') no-repeat;
  background-size: 300px;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}
