/* Race Page
*******************/

.race {
  margin: 50px;
  max-width: 600px;
}

/* Race Track
*******************/

.race-track {
  margin-bottom: 30px;
}

.moons {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto;
}

.moon {
  width: 60px;
}

.ship {
  width: 30px;
  margin: 20px 0;
}

.current-word {
  color: $green;
}

/* Race Input
*******************/

.race-text {
  background-color: $white;
  margin-bottom: 30px;
  padding: 20px;
}

/* Race Results
*******************/

.race-results {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  max-width: 800px;
}

.quote-info img {
  width: 230px;
}
