/* Race Page
*******************/

.race {
  margin: 50px;
  max-width: 800px;
}

/* Race Track
*******************/

.current-word {
  color: $green;
}

/* Race Input
*******************/

/* Race Results
*******************/

.race-results {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.quote-info img {
  width: 230px;
}
