/* Race Page
*******************/

.race {
  margin: 50px;
  max-width: 700px;
}

/* Race Track
*******************/

.race-track {
  margin-bottom: 30px;
  width: 700px;
}

.moons {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto;
}

.moon {
  width: 70px;
}

.begin-text {
  height: 10px;
  margin: 20px 0;
  text-align: center;
  color: $orange;
}

.track {
  position: relative;
  height: 160px;
}

.ships, .planet {
  position: absolute;
  width: 540px;
}

.ship {
  width: 50px;
  position: absolute;
}

.planet {
  width: 100px;
  top: 25%;
  right: 0;
}

.current-word {
  color: $green;
}

/* Race Input
*******************/

.race-text, .race-input {
  width: 600px;
  margin: 0 auto 30px;
}

.race-text {
  background-color: $white;
  padding: 20px;
}

.race-input input {
  width: 100%;
}
.race-input input:focus {
  outline-color: $teal;
  outline-width: 10px;
  outline-offset: -3px;
}

/* Race Results
*******************/

.race-results {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 800px;
  text-align: center;
}

.quote-results {
  margin-bottom: 80px;

  a {
    font-size: 20px;
  }
  img {
    max-width: 230px;
    margin: 16px auto 0;
  }

  .user-info > div {
    margin-top: 40px;
  }
}
